body{
    background-color: whitesmoke;
}

.container {
    text-align:center;
    align-items: center;
}

.modal-link{
    margin-left: 20px;
}

.fa-question-circle {
    /*margin-left: -10px;*/
    /*margin-top: 50px;*/
}